@import url('https://fonts.googleapis.com/css2?family= Arimo :ital,wght@0,700;1,400 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
:root{
    --cor-primary: rgba(255, 255, 255, 1);
    --cor-secundary: rgba(243, 198, 31, 1);
    --cor-terciary: rgba(81, 73, 136, 1);
    --fonte-principal: 'Arimo', sans-serif;

}
body{
    width: 100%;
    height: auto;
   
}
/*Estilizando o cabeçalho*/
nav{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundary);
}
.cabecalho{
    margin: 0.6rem 2rem;
    height: 4rem;
}
/*Estilizando a secão */
.conteiner{
    display: flex;

}
.text_box{
    font-size: var(--fonte-principal);
    background-color: var(--cor-terciary);
    width: 65%;
}
.text_box_titulo{
    padding: 2.3rem;
    align-items: center;
}
.titulo_secao1{
    font-size: 4.3rem;
    font-weight: 700;
    color: var(--cor-secundary);
}
.sub_titulo_secao1{
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--cor-primary);
    text-align: center;
    margin-top: 1rem;
}
.paragrafo_secao1{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--cor-primary);
    text-align: center;
}
.days{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.cronometro{
    display: flex;
    justify-content: space-around;
    color: var(--cor-terciary);
    font-weight: 700;
    font-size: 50px;
}
.texto_cronometro{
    font-size: 30px;
    color:rgba(227, 56, 129, 1);
    font-family:var(--fonte-principal);
    font-weight: 700;
    margin-left: 20px;
}
.image_box img{
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    padding-bottom: 2rem;
    width: 90%;
    height: 90%;
}
/*Estilizando o footer*/
footer{
    display: flex;
}
.text_nav_day{
    font-size: 1.7rem;
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-secundary);
    margin: 0.6rem 0rem;
}
.panfleto{
    width: 100%;
   align-items: center;
}
.imagem_panfletos{
    width: 180px;
    height: 180px;
}
.formulário{
    padding: 90px 10px 30px 25px;
}
.btn{
    background-color: var(--cor-terciary);
    width: 450px;
    height: 100px;
    color: #eaece5;
    border: 0px;
    border-radius: 20px;
    margin-bottom: 50px;
    font-weight: 700;
    cursor: pointer;
    font-size: 2rem;
}

.btn:hover{
    background-color: var(--cor-secundary);
    color: rgb(36, 33, 33);
    transform: translate(-3px);
    box-shadow: 0px 15px 20px #252020;
    transition-duration: 0.4s;
}